{{outlet}}



<div class="show-on-large hide-on-med-and-down container">
  <div class="card white opaque">

    <div class="row center-align nomargin">
      <div class="col l3 m3 offset-l1 offset-m1">
        <img src="{{rootURL}}assets/images/logo.png" class="responsive-img logo">
      </div>
      <div class="col l7 m7 red-text logo-caption">
        <h4>Share Love!! Share Pizzas!!</h4>
        <h5>For free door delivery : 73 73 74 86 86</h5>        
      </div>
      <div class="col l1 m1 red-text">
        &nbsp;
      </div>

    </div>
  </div>

</div>

  <div class="show-on-medium-and-down red-text hide-on-large-only center-align card white opaque">
    <img class="responsive-img logo" src="{{rootURL}}assets/images/logo.png">
    <h5>For free door delivery : 73 73 74 86 86</h5>

  </div>

<div class="row">
    

  {{#each model.menuitems.bycategory as |category|}}

    <div class="col l4 m6 s12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title center">{{category.value}}</span>

          {{#each category.items as |item|}}
            <div class="row">
              <div class="col {{if (eq item.pricetype 'variable') 's6' 's10'}}">
                <h6 class="{{item.diettype}}">
                  {{item.name}}
                  {{#if item.isspicy}}
                    <span class="icon-chili red-text" aria-hidden="true"></span>  
                  {{/if}}
                </h6>
                <span class="description grey-text">
                  {{item.description}}
                </span>
              </div>

              {{#if (eq item.pricetype 'variable')}}
                <div class="col s2">
                  <h6>{{item.regular}}</h6>
                </div>
                <div class="col s2">
                  <h6>{{item.medium}}</h6>
                </div>
                <div class="col s2">
                  <h6>{{item.large}}</h6>
                </div>
              {{else}}
                <div class="col s2">
                  <h6>{{item.price}}</h6>
                </div>
              {{/if}}
            </div>
            
          {{/each}}


        </div>

      </div>      
    </div>
  {{/each}}


</div>